:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  mat-card {
    max-width: 400px;
    margin-bottom: 20px;

    mat-card-header {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: flex-end;

      img {
        max-height: 60px;
      }

      mat-card-title {
        line-height: 50px;
        font-size: 30px;
      }

      mat-card-subtitle {
        font-size: 20px;
      }
    }

    mat-card-content {
      margin-top: 40px;

      form {
        display: flex;
        flex-direction: column;
      }
    }
  }

  mat-card-actions {
    display: flex;
  }

  .error {
    height: 30px;
    color: red;
  }
}

