<mat-card class="mat-elevation-z8">
  <mat-card-header>
    <img src="assets/vintra-logo.png">
    <mat-card-title>ThermoCo sensor</mat-card-title>
    <mat-card-subtitle>Login</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form
        [formGroup]="loginForm">
      <mat-form-field color="primary">
        <input
            placeholder="Username"
            formControlName="username"
            matInput>
      </mat-form-field>

      <mat-form-field color="primary">
        <input
            placeholder="Password"
            type="password"
            formControlName="password"
            matInput>
      </mat-form-field>

      <span class="error">{{error}}</span>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <span class="spacer"></span>
    <button mat-button
            (click)="login()"
            [disabled]="loginForm.invalid"
            color="primary">LOGIN
    </button>
  </mat-card-actions>
</mat-card>

<div>{{healthStatus}}</div>
