<div class="mat-elevation-z1">
  <table matSort
         matSortActive="id"
         matSortDirection="desc"
         mat-table
         [dataSource]="dataSource">

    <ng-container matColumnDef="select">
      <th mat-header-cell
          *matHeaderCellDef>
      </th>
      <td mat-cell
          *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell
          *matHeaderCellDef
          mat-sort-header> ID
      </th>
      <td mat-cell
          *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell
          *matHeaderCellDef
          mat-sort-header> Description
      </th>
      <td mat-cell
          *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="samplingPeriod">
      <th mat-header-cell
          *matHeaderCellDef
          mat-sort-header> Sampling period
      </th>
      <td mat-cell
          *matCellDef="let element"> {{element.samplingPeriod}} </td>
    </ng-container>

    <ng-container matColumnDef="isActive">
      <th mat-header-cell
          *matHeaderCellDef
          mat-sort-header> Active
      </th>
      <td mat-cell
          *matCellDef="let element"> {{element.isActive}} </td>
    </ng-container>

    <tr mat-header-row
        *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons></mat-paginator>

  <div class="footer">
    <button mat-button
            (click)="createOrEditSensor()"
            color="primary">Create
    </button>

    <button mat-button
            (click)="createOrEditSensor(selection.selected[0].id)"
            [disabled]="selection.isEmpty()"
            title="Select any sensor in order to enable edit button"
            color="primary">Edit
    </button>

    <button mat-button
            (click)="deleteSensor(selection.selected[0].id)"
            [disabled]="selection.isEmpty()"
            title="Select any sensor in order to enable delete button"
            color="primary">Delete
    </button>
  </div>
</div>


