<form
    [formGroup]="userForm">
  <mat-form-field color="primary">
    <input
        readonly
        placeholder="Id"
        formControlName="id"
        matInput>
  </mat-form-field>

  <mat-form-field color="primary">
    <input
        readonly
        placeholder="Username"
        formControlName="username"
        matInput>
  </mat-form-field>
  <mat-form-field color="primary">
    <input
        placeholder="Full name"
        formControlName="full_name"
        readonly
        matInput>
  </mat-form-field>

  <mat-form-field color="primary">
    <input
        readonly
        placeholder="Email"
        formControlName="email"
        matInput>
  </mat-form-field>
</form>
