<div class="mat-title">Sensor Detail</div>

<form
    [formGroup]="sensorForm">
  <mat-form-field color="primary">
    <input
        placeholder="Id"
        formControlName="id"
        matInput
        readonly>
  </mat-form-field>

  <mat-form-field color="primary">
    <input
        placeholder="Description"
        formControlName="description"
        matInput>
  </mat-form-field>

  <mat-form-field color="primary">
    <input
        placeholder="Sampling period"
        formControlName="samplingPeriod"
        type="number"
        matInput>
  </mat-form-field>

  <mat-form-field color="primary">
    <input
        readonly
        placeholder="Is active"
        formControlName="isActive"
        matInput>
  </mat-form-field>
</form>

<div class="footer">
  <button mat-button
          (click)="close()"
          color="primary">Close
  </button>

  <div class="spacer"></div>

  <button mat-button
          [disabled]="sensorForm.invalid || !sensorForm.dirty"
          (click)="saveSensor()"
          color="primary">Save
  </button>
</div>
