<mat-toolbar color="primary"
             class="mat-elevation-z4">
  <img src="assets/vintra-logo.png">
  <span>ThermoCo sensor  -  Administration</span>
  <span class="spacer"></span>
</mat-toolbar>

<mat-tab-group>
  <mat-tab label="Sensors">
    <ng-template matTabContent>
      <app-sensor-list></app-sensor-list>
    </ng-template>
  </mat-tab>

  <mat-tab label="Logged user">
    <ng-template matTabContent>
      <app-user-info></app-user-info>
    </ng-template>
  </mat-tab>

</mat-tab-group>
