<div class="mat-title">Are you sure you want to delete this sensor?</div>

<div class="footer">
  <button mat-button
          (click)="close()"
          color="primary">No
  </button>

  <div class="spacer"></div>

  <button mat-button
          (click)="close(true)"
          color="primary">Yes
  </button>
</div>
